/nbproject/build-impl.xml
/nbproject/genfiles.properties
/nbproject/private/private.properties
/nbproject/project.xml
/nbproject/project.properties
nbproject/private/private.properties
build/
dist/ProjectNX.war
/nbproject/private/
web/WEB-INF/JSP/hello.jsp
web/WEB-INF/JSP/testUpload.jsp
src/java/com/teamnx/controller/TestSomething.java